.eds__component:not(.header, .sitemap) {
	ul {
		padding-left: 0;
		li {
			display: flex;
			align-items: flex-start;
			margin-bottom: 0.4rem;
			letter-spacing: -0.02px;
			list-style-type: none;

			&::before {
				content: '';
				border: 1px solid var(--brand-orange);
				height: 1px;
				width: 12px;
				margin-right: var(--spacer-md);
				margin-top: 0.75rem;
			}
			p {
				margin-bottom: 0;
				flex: 1 1; // Fixes bullet size changing on paragraph length
			}

			&.list-small {
				margin-bottom: 0.2rem;

				p {
					font-size: var(--text-size-sm);
				}
			}
		}
	}

	ol {
		list-style: none;
		counter-reset: item;
		padding-left: 0;

		li {
			counter-increment: item;
			margin-bottom: 0.4rem;
		}

		li::before {
			content: counter(item);
			color: var(--brand-orange);
			font-weight: bold;
			margin-right: var(--spacer-md);
		}

		li p {
			display: inline-block;
		}

		p {
			margin-bottom: 0;
		}
	}
}
