.md-parser {
	height: 100vh;
	display: flex;
	flex-direction: column;
	// overflow: hidden;

	h1, h2, h3, h4, h5, h6 {
		margin-left: 0 !important;
	}

	ul, ol {
		margin: 0;
		padding-left: 28px;
	}
	
	textarea {
		margin-top: var(--spacer-md);
		width: 100%;
		font-family: 'Fira Code', monospace;
		padding: 16px;
	}

	.md-container {
		// flex: 1 1 auto;
		height: 50%;
		.markdown-body {
			overflow-y: auto;
			height: 100%;
			// flex: 1 1 auto !important;
			padding: var(--spacer-xl) !important;

			pre {
				.codeStyle {
					position: relative;

					code {
						&::before {
							position: absolute;
							top: var(--spacer-xxs);
							right: var(--spacer-xs);
						}

						.linenumber {
							font-style: normal !important;
						}

						&.language-tsx {
							&::before {
								content: 'TypeScript';
							}
						}

						&.language-py {
							&::before {
								content: 'Python';
							}
						}

						&.language-scss {
							&::before {
								content: 'SCSS';
							}
						}
					}

				}
			}
		}
	}

	.editor-container {
		height: 50%;
		padding-top: var(--spacer-xl) !important;
		background-color: #1E1E1E;
		.monaco-editor {
			// flex: 1 1 auto !important;
			// border-top: 2px solid var(--brand-grey-dark);
		}
	}
}