$neutral-grey: #444C56;
$lighter-grey: #ACBAC7;

.md-parser {
	height: 100vh;
	display: flex;
	flex-direction: column;

	h1, h2, h3, h4, h5, h6 {
		margin-left: 0 !important;
	}

	ul, ol {
		margin: 0;
		padding-left: 28px;
	}
	
	textarea {
		margin-top: var(--spacer-md);
		width: 100%;
		font-family: 'Fira Code', monospace;
		padding: 16px;
	}

	.md-container {
		.settings-icon {
			transition: all 0.3s;
			position: absolute;
			top: var(--spacer-xs);
			left: var(--spacer-xs);
			cursor: pointer;
			opacity: 0.4;
			path {
				color: $lighter-grey;
			}
			&:hover {
				opacity: 1;
			}
		}

		.markdown-body {
			overflow-y: auto;
			height: 100%;
			padding: var(--spacer-xl) !important;

			pre {
				.codeStyle {
					position: relative;

					code {
						&::before {
							position: absolute;
							top: var(--spacer-xxs);
							right: var(--spacer-xs);
						}

						.linenumber {
							font-style: normal !important;
						}

						&.language-tsx {
							&::before {
								content: 'TypeScript';
							}
						}

						&.language-py {
							&::before {
								content: 'Python';
							}
						}

						&.language-scss {
							&::before {
								content: 'SCSS';
							}
						}
					}

				}
			}
		}
	}

	.gutter {
		background-color: $neutral-grey;
		background-repeat: no-repeat;
		background-position: 50%;

		&.gutter-horizontal {
			background-image: url("../../assets/images/horizontal-gutter.png");
			cursor: col-resize;
		}

		&.gutter-vertical {
			background-image: url("../../assets/images/vertical-gutter.png");
			cursor: row-resize;
		}
	}

	.editor-container {
		padding-top: var(--spacer-xl) !important;
		background-color: #1E1E1E;
	}
}