$neutral-grey: #444C56;
$lighter-grey: #ACBAC7;

.md-parser {
	height: 100vh;
	display: flex;
	flex-direction: column;

	.md-container {
		.settings-icon {
			transition: all 0.3s;
			position: absolute;
			top: var(--spacer-xs);
			left: var(--spacer-xs);
			cursor: pointer;
			opacity: 0.4;
			path {
				color: $lighter-grey;
			}
			&:hover {
				opacity: 1;
			}
		}

		.markdown-body {
			overflow-y: auto;
			height: 100%;
			padding: var(--spacer-xl) !important;

			pre {
				.codeStyle {
					position: relative;

					code {
						.linenumber {
							font-style: normal !important;
							max-width: 3.25rem !important;
						}

						&::before {
							position: absolute;
							top: var(--spacer-xxs);
							right: var(--spacer-xs);
							opacity: 0.6;
						}

						&.language-ts:before {
							content: 'TypeScript';
						}

						&.language-tsx:before {
							content: 'TSX';
						}

						&.language-py:before {
							content: 'Python';
						}

						&.language-scss:before {
							content: 'SCSS';
						}

						&.language-shell:before {
							content: 'Shell';
						}
					}

				}
			}
		}
	}

	.gutter {
		background-color: $neutral-grey;
		background-repeat: no-repeat;
		background-position: 50%;

		&.gutter-horizontal {
			width: 10px !important;
			height: auto !important;
			background-image: url("../../assets/images/horizontal-gutter.png");
			cursor: col-resize;
		}

		&.gutter-vertical {
			height: 10px !important;
			width: auto !important;
			background-image: url("../../assets/images/vertical-gutter.png");
			cursor: row-resize;
		}
	}

	.editor-container {
		box-sizing: border-box;
		background-color: #1E1E1E;
		overflow: hidden;
		.monaco-editor {
			padding-top: var(--spacer-xl) !important;
			
		}
	}
}