.border-radius {
  &-small {
    border-radius: 4px;
  }
  &-medium {
    border-radius: 8px;
  }
  &-large {
    border-radius: 16px;
  }
}

.shadow {
  &-small {
    box-shadow: 0 3px 5px RGB(0 0 0 / 5%);
  }
  &-medium {
    box-shadow: 0 5px 15px RGB(0 0 0 / 8%);
  }
  &-large {
    box-shadow: 0 15px 30px RGB(0 0 0 / 15%);
  }
}

.shadow {
  &-small-hover:hover {
    box-shadow: 0 3px 5px RGB(0 0 0 / 5%);
  }
  &-medium-hover:hover {
    box-shadow: 0 5px 15px RGB(0 0 0 / 8%);
  }
  &-large-hover:hover {
    box-shadow: 0 15px 30px RGB(0 0 0 / 15%);
  }
}
